@page "/restaurante/{IdRestaurante:int}/detalhe/{IdProduto:int}"

@using CardapioDigital.Application.Dto.Request
@using CardapioDigital.Application.Dto.Response
@using CardapioDigital.Application.Services.IServices

@inject IGenericoServices<RestauranteRequestDto, RestauranteResponseDto> RestauranteServices
@inject IGenericoServices<ProdutoRequestDto, ProdutoResponseDto> ProdutoServices

<PageTitle>@($"{produto.NomeProduto} - {restaurante.NomeRestaurante}")</PageTitle>

<section>
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..."></div>
            <div class="col-md-6">
                <div class="small mb-1">@produto.CategoriaNome</div>
                <h1 class="display-5 fw-bolder">@produto.NomeProduto</h1>
                <div class="fs-5 mb-5">
                    @if (produto.PrecoComDesconto is not null)
                    {
                        <span class="text-decoration-line-through">R$ @produto.Preco </span> 
                        <span class="fw-bolder h3 text-danger"> R$ @produto.PrecoComDesconto</span>
                    }
                    else
                    {
                        <span class="fw-bolder h3">R$ @produto.Preco</span>
                    }
                </div>
                <p class="lead">@produto.DescricaoProduto</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem">
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Adicionar a sacola
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public int IdRestaurante { get; set; }

    [Parameter]
    public int IdProduto { get; set; }

    private ProdutoResponseDto produto = new ProdutoResponseDto();
    private RestauranteResponseDto restaurante = new RestauranteResponseDto();

    protected override async Task OnInitializedAsync()
    {
        restaurante = await RestauranteServices.GetById(IdRestaurante);
        produto = await ProdutoServices.GetById(IdProduto);
    }
}
