@page "/restaurante/{IdRestaurante:int}"

@using CardapioDigital.Application.Dto.Request
@using CardapioDigital.Application.Dto.Response
@using CardapioDigital.Application.Services.IServices

@inject IGenericoServices<RestauranteRequestDto, RestauranteResponseDto> RestauranteServices
@inject IProdutoService ProdutoService

<PageTitle>@restaurante.NomeRestaurante</PageTitle>

<Header NomeRestaurante="@restaurante.NomeRestaurante" />

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    @foreach (var produto in produtos.OrderByDescending(x => x.PrecoComDesconto))
    {
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Sale badge-->
                @if (produto.PrecoComDesconto is not null)
                {
                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem"><i class="fa-solid fa-fire fa-lg"></i> Promoção</div>
                }
                <!-- Product image-->
                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">@produto.NomeProduto</h5>
                        <!-- Product reviews-->
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                        <!-- Product price-->
                        @if (produto.PrecoComDesconto is null)
                        {
                            <span class="text-muted">R$ @produto.Preco</span>
                        }
                        else
                        {
                            <span class="text-muted text-decoration-line-through">R$ @produto.Preco</span>
                            <h5 class="fw-bolder text-danger">R$ @produto.PrecoComDesconto</h5>
                        }
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-dark mt-auto" href="/restaurante/@restaurante.IdRestaurante/detalhe/@produto.IdProduto">Ver produto</a></div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public int IdRestaurante { get; set; }

    private RestauranteResponseDto restaurante = new RestauranteResponseDto();
    private IEnumerable<ProdutoResponseDto> produtos = new List<ProdutoResponseDto>();

    protected override async Task OnInitializedAsync()
    {
        restaurante = await RestauranteServices.GetById(IdRestaurante);
        produtos = await ProdutoService.GetProdutosById(restaurante.IdRestaurante);
    }
}
